extends layout

block content
  div(class="details")
    h1= "BRANCH & BOUND"
    p
    | A dynamic algorithm that aligns two given strings
    | in the most efficient way possible.
    p

    form(method='POST' action='')
      div.form-group
        label(for='capacity') #{'Max Capacity: '}
        input#capacity.form-control(type='text' placeholder='15' name='capacity' value=(undefined===capacity ? '' : capacity))
      br

      div.form-group(id="item1")
        h3 Item 1:
        label(for='item1Profit') #{'Profit: '}
        input#item1Profit.form-control(type='text' placeholder='10' name='item1Profit' value=(undefined===item1Profit ? '' : item1Profit))
        br
        label(for='item1Weight') #{'Weight: '}
        input#item1Weight.form-control(type='text' placeholder='10' name='item1Weight' value=(undefined===item1Weight ? '' : item1Weight))

      div.form-group(id="item2")
        h3 Item 2:
        label(for='item2Profit') #{'Profit: '}
        input#item2Profit.form-control(type='text' placeholder='10' name='item2Profit' value=(undefined===item2Profit ? '' : item2Profit))
        br
        label(for='item1Weight') #{'Weight: '}
        input#item2Weight.form-control(type='text' placeholder='10' name='item2Weight' value=(undefined===item2Weight ? '' : item2Weight))


      br
      button.btn.btn-primary(type='submit') CALCULATE
    if errors
      ul.a
        for error in errors
          li.a!= error.msg
          br
